 :root {
--C1: #1f2631;
--C2: #080f13;
}

* {
font-family: arial;
color: var(--C1);
text-decoration: none;
text-align: center;
border-radius: 8px;
font-size: 25px;
}

body {
background-color: var(--C2);
}

@keyframes M {

0% {opacity: 0.5;}

100% {opacity: 1;}}

/* Shamurikan 1 */

form {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
animation: M 1s;
}

input {
margin: auto;
display: block;
background-color: #1f2631 ;
border: 2px solid #1f2631;
animation: M 1s;
animation: M 1s;
}

#btn {
width: 320px;
height: 320px;
background-color: var(--C1);
border-radius: 100%;
box-shadow: 0px 0px 25px black;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
animation: H 5s infinite;
z-index: -5;
animation: M 1s;
}

@keyframes H {

0% {height: 320px; width: 320px}

50% {height: 340px; width: 340px;}

0% {height: 320px; width: 320px}}

/* Shamurikan 2 */

#padding-body {
padding: 30px 0px 120px 0px;
}

.images {
box-shadow: 0px 0px 10px black ;
width: 40%;
margin-top: 70px;
margin-bottom: 0px;
animation: M 1s;
}

.paragraphs {
margin-top: 0px;
opacity: 0;
color: #fff;
font-weight: bolder;
}

.divs {
height: 395px;
margin: 20px 5px 60px 5px;
background-color: var(--C1);
animation: M 1s;
}

.ready-img {
margin-top: 40px;
}

.ready-p {
margin-top: 8px;
opacity: 1;
}