:root {--C1: #1f2631;--C2: #080f13;}

* {
font-family: arial;
color: #fff;
text-decoration: none;
text-align: center;
border-radius: 8px;
font-size: 25px;
}

body {background-color: var(--C2);}

/* All splash page styles */

#index {animation: M 1s;}

#btn, #pass1 { all: unset;
border: 0px;
background-color: var(--C1);
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
width: 320px;
height: 320px;
border-radius: 100%;
}

#btn {
animation: H 5s infinite;
box-shadow: 0px 0px 25px black;
z-index: -5;
}

/* All homepage styles */

.images {
box-shadow: 0px 0px 10px black ;
width: 40%;
margin-top: 70px;
margin-bottom: 0px;
transition: 1s;
animation: M 1s;
}

.paragraphs {
margin-top: 0px;
opacity: 0;
font-weight: bolder;
transition: 1s;
}

.divs {
height: 395px;
margin: 20px 5px 60px 5px;
background-color: var(--C1);
border-radius: 20px;
animation: M 1s;
}

#div4 {
margin-bottom: 8px;
}

/* All Java Script styles for sections */

.imageBefore {
margin-top: 70px;
}

.imageAfter {
margin-top: 40px;
}

.paragBefore {
opacity: 0;
transition: 0.4s;
margin-top: 0px;
}

.paragAfter {
opacity: 1;
transition: 1s;
margin-top: 8px;
}

/* All social media styles */

.boxicons {
background-color: var(--C1);
padding: 2px 12px;
transition: 1s;
margin: 1px 2.5px;
}

#Social-media {
all: unset;
width: 100%;
padding-top: 50px;
}

#Social-media-main {
background-color: var(--C2);
padding-top: 60px;
width: 100%;
transition: 0.4s;
opacity: 0;
}

/* All animations are here */

@keyframes M {

0% {opacity: 0.5;}

100% {opacity: 1;}}

@keyframes H {

0% {height: 320px; width: 320px}

50% {height: 340px; width: 340px;}

0% {height: 320px; width: 320px}}